<div class="container">
  <h1>Beers</h1>

  <ol class="breadcrumb">
    <li class="active">
      Beers
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-12">
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword]%>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Beer</a>
      </p>
    </div>
  </div>

   <div class='col-sm-12 beer-form'>
    <p>
      <%= form_for(Beer.new, remote: true,
                   html: { class: 'horizontal-form' }) do |f| %>
      <legend>New Beer</legend>

      <div class='col-sm-5'>

        <div class='form-group'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :brewery, class: 'form-control', placeholder: 'Brewery' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :image, class: 'form-control', placeholder: 'Image URL' %>
        </div>

        <div class='form-group'>
          <legend>Rating</legend>
          <% (1..5).each do |rating| %>
            <label class='radio-inline'>
              <%= rating %><%= f.radio_button :rating, rating %>
            </label>
          <% end %>
        </div>

        <div class='form-group'>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </p>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled beer-list">
      <% @beers.each do |beer| %>
        <li class="row rating-<%= beer.rating %>">
          <div class="col-sm-3">
            <a href="#" target="_blank">
              <%= beer_image(beer.image) %>
            </a>
            <p class="text-center rating"><strong><%= beer.rating %></strong>/5</p>
          </div>

          <div class="col-sm-9">
            <h3><a href="#"><%= beer.name %></a></h3>
            <p class="text-muted"><em>Brewed by <%= beer.brewery %></em></p>

            <div>
              <p>
                <%= beer.description %>
              </p>
            </div>

            <ul class="list-unstyled">
              <li>
                <a href="#" class="label label-primary"> <%= beer.style.name %></a>
              </li>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Styles</h2>
      <ul class="list-unstyled">
        <% @styles.each do |style|%>
        <li>
          <a href="#" class="label label-primary">
            <%= style.name %>  
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>